@import "_bootstrap-variables";
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

.main-placement {
  background-color: $brand-primary;
  height: 60%;
}

.footer-placement {
  background-color: $brand-primary;
  height: 20%;
  }

.header-placement {
  background-color: $brand-primary;
  height: 20%;
 }

.logo {
  position: relative;
  width: 20%;
  height: 100%;
}

