@import "_bootstrap-variables";
@import "mixins.scss";

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

.main-placement {
  padding-left: 100px;
  padding-right: 100px;
  background-color: $brand-primary;
  margin-bottom: 120px;
  @include calc(height, 100%, "-", 240px, 1000px);
}

.footer-placement {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: $brand-primary;
  height: 120px;
  background: -webkit-linear-gradient(top, rgba(219, 253, 171, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to top, rgba(219, 253, 171, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.header-placement {
  background-color: $brand-header;
  padding-top: 10px;
  border-top: 20px;
  border-style: none;
  height: 120px;
}

.recipe-navbar {
  background-color: rgba(255, 255, 255, 1);
  background: -webkit-linear-gradient(top, rgba(219, 253, 171, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(219, 253, 171, 1) 0%, rgba(255, 255, 255, 1) 100%);
  height: 50px;
}

.header-logo {
  position: relative;
  padding: 30px;
  width: 20%;
  height: 100%;
  font-size: 80px;
  opacity: 0.5;
}

