.color-primary-0 { color: #709C34 }	/* Main Primary color */
.color-primary-1 { color: #C9EA9C }
.color-primary-2 { color: #9AC361 }
.color-primary-3 { color: #4C7513 }
.color-primary-4 { color: #2D4E00 }

#imagegallery-image {
    width: 160px;
    heigth: 160px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

#imagegallery > li {
    display: inline-block;
}

#imagegallery > li > img {
    padding: .1em 1em;
}

#imagegallery    {
    list-style: none;
}
#recipe-image-gallery-item {
    float:left;
    position:relative;
    width:700px;
    height:400px;
    display:none;
}
#recipe-image-gallery-item #overlay {
    position:absolute;
    left:0px;
    width:100%;
    /* styling bellow */
    background-color:#C9EA9C;
    font-family: 'tahoma';
    font-size:20px;
    color:black;
    opacity:0.6;
    filter:alpha(opacity=60); /* IE transparency */
}

#recipe-image-gallery-item #overlay .title {
    padding:30px;
    margin:0px;
    font-size:30px;
}