$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

.main-placement {
    background-color: #FFFFFF;
}
.footer-placement {
    background-color: #000000;
        height: 30%;

}
.header-placement {
    background-color: #000000;
    height: 30%;
}

.logo {
    background-color: #FFFFFF;
    width: 240px;
    height: 200px;
}